/* import the bootstrap css framework */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

/* import Lato from google fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 1;
    color: #FFF;
    background-color: rgba(24, 28, 34, 0.8);
    font-size: 16px;
    text-transform: lowercase;
    font-variant: small-caps;
}

#sidebar p {
    font-weight: 300;
}

#padding {
    margin: auto;
    width: 90%;
}

#stopinfo {
    height:8em;
}

#stopinfo h4 {
    margin-top: 0;
}

#stopinfo p {
    font-size: 14px;
    font-variant: normal;
    margin-bottom: 0;
}

#sidebar button {
    margin: auto;
    width: 95%;
}


#filterusers {
    margin-top: 10px;
}

#memberVisibility, #onetimeVisibility {
    visibility: hidden;
}

svg {
    display: block;
    margin: auto;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
}